.p-basic-template {
  @extend %--principal-grid;
  padding: var(--spacing-xl) 0;

  @include up(768) {
    padding: var(--spacing-xxl-2) 0;
  }

  .p-basic-template__inner {
    grid-column: 2 / -2;

    @include up(1280) {
      grid-column: 4 / -4;
    }

    .p-basic-template__title {
      margin-bottom: var(--spacing-xxl);
      padding: var(--spacing-l) 0;
      text-align: center;
      font-weight: 600;
      font-size: 21px;
      background-color: var(--color-light);
    }

    .p-basic-template__wysiwyg {
      padding: var(--spacing-l);
      border: 1px solid var(--color-dark);

      @for $i from 1 through 6 {
        h#{$i} {
          font-family: var(--font-text) !important;
        }
      }

      h2 {
        margin: 40px 0 16px;
      }

      h3 {
        margin: 24px 0 12px;
      }

      a {
        font-weight: 600;
        text-decoration: underline;
      }

      img {
        max-width: 100%;
        height: auto;
        margin: var(--spacing-l) 0;
      }

      ol {
        li {
          margin-left: var(--spacing-s);
          padding: var(--spacing-xs) 0;
          list-style-type: decimal;
        }
      }
    }
  }
}