// Reescritura del diseño básico de WooCommerce
%_woocommerce-safo-button {
  color: var(--color-light) !important;
  border: 1px solid var(--color-dark-medium) !important;
  background-color: var(--color-dark-medium) !important;
  transition: all 250ms ease !important;
  border-radius: 0 !important;

  &:hover {
    color: var(--color-dark-medium) !important;
    background-color: var(--color-light) !important;
  }
}

.woocommerce #content input.button.alt, 
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce-page #content input.button.alt, 
.woocommerce-page #respond input#submit.alt, 
.woocommerce-page a.button.alt, 
.woocommerce-page button.button.alt, 
.woocommerce-page input.button.alt {
  @extend %_woocommerce-safo-button;
}

.woocommerce .checkout-button {
  @extend %_woocommerce-safo-button;
  padding: var(--spacing-s) !important;
}

.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button {
  @extend %_woocommerce-safo-button;
}

.onsale {
  font-weight: 400 !important;
  width: 100px !important;
  padding: 0 !important;
  letter-spacing: 1px !important;
  border-radius: 0 !important;
  color: var(--color-light) !important;
  background-color: var(--color-dark) !important;
}

.actions {
  min-height: 44px !important;

  .coupon {
    height: 44px;
    padding: 0 !important;

    @include up(768) {
      display: flex;
      align-items: center;
      margin: var(--spacing-xs) 0 !important;
    }
  
    #coupon_code {
      height: 100% !important;
      width: 100% !important;
      float: none !important;
      margin: 0 !important;

      @include up(768) {
        width: 200px !important;
      }
    }
  
    button {
      width: 100% !important;
      margin-bottom: var(--spacing-l) !important;
      margin-left: var(--spacing-s) !important;

      @include up(768) {
        flex: 1;
        margin-bottom: var(--spacing-xs) !important;
      }
    }
  }

  .button {
    height: 42px;
    margin: calc(var(--spacing-xs) + 1px) 0 !important;

  }
}

.l-woocomerce-sale,
.l-woocomerce-product-sale {
  display: flex;
  height: 40px;
  margin: var(--spacing-s) 0;

  .l-woocomerce-sale__percent {
    height: inherit;
    padding: 0 var(--spacing-s);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-light);
  }

  .l-woocomerce-sale__percent {
    margin-left: var(--spacing-xs);
    font-weight: 600;
  }
}

.l-woocomerce-sale {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

.l-woocomerce-product-sale {
  display: flex;
  justify-content: center;

  .l-woocomerce-product-sale__message {
    height: inherit;
    padding: 0 var(--spacing-s);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    border: 1px solid var(--color-blue-medium);
  }
}