.t-contact {
  @extend %--principal-grid;

  .t-contact__inner {
    grid-column: 2 / -2;
    @extend %--is-constrain-section;

    .t-contact__form-switch {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: var(--spacing-s) 0 var(--spacing-xxl-2);
  
      button {
        margin: 0 var(--spacing-s);
        padding: 0 var(--spacing-s);
        text-transform: initial;
        cursor: pointer;
      }
    }
  }
}