vendor
/wp
/wp-config.php
/wp-content/*
!/wp-content/
!/wp-content/mu-plugins/
/wp-content/themes/*
!/wp-content/themes/
!/wp-content/themes/cyrille-mulot
/wp-content/plugins/*
!/wp-content/plugins/
!/wp-content/plugins/socials-editor

node_modules
.cache
dist