.p-about {
  .p-about_whoami {
    display: flex;
    align-items: center;
    gap: 90px;
    padding: var(--spacing-xxl-2) 0;

    @include down(1024) {
      flex-direction: column;
      padding: var(--spacing-l) 0;
    }

    .p-about__description,
    .p-about__images {
      flex: 1;
      display: flex;
    }

    .p-about__images {
      picture {
        display: flex;
        align-items: center;

        &:nth-child(1) {
          margin-right: var(--spacing-l);
        }

        &:nth-child(2) {
          margin-top: var(--spacing-xxl-2);
        }
      }
    }

    .p-about__description {
      flex-direction: column;
      justify-content: center;
    }
  }
}