:root {
  --color-primary-light: #bfc3c1;
  --color-primary-medium: #b2cec0;
  --color-primary-dark: #a9c3b5;
  --color-alternative: #fdf4ea;
  --color-blue-medium: #4e5564;
  --color-blue-dark: #1d1c21;
  --color-dark: #272727;
  --color-medium: #F4FCF8;
  --color-light: #fff;
  --color-important: #f6989b;
  --color-transparent: rgba(255, 255, 255, 0);
}