:root {
  --color-primary-light: #cdb88d;
  --color-primary-dark: #c19a5b;
  --color-dark-medium: #37343F;
  --color-dark: #000;
  --color-light-medium: #fdf3e9;
  --color-light: #f1f3f3;
  --color-light-full: #fff;
  --color-transparent: rgba(255, 255, 255, 0);
}