:root {
  --color-primary-light: #cdb88d;
  --color-primary-dark: #A17E5E; // New
  --color-dark-medium: #37343F; // New
  --color-dark: #000;
  --color-light-medium: #FDF3E9; // New
  --color-light: #fff;
  --color-transparent: rgba(255, 255, 255, 0);
}