:root {
  --box-shadow-dark: 0 0 5px 0 rgba(77, 25, 41, 0.02), 
                     0 3px 20px 0 rgba(239, 81, 173, 0.04), 
                     0 10px 28px 0 rgba(77, 25, 57, 0.03);
  
  --box-shadow-primary: rgba(#ff366e, 0.2) 0px 0px 5px 0px,
                        rgba(#ff366e, 0.4) 0px 3px 20px 0px,
                        rgba(#ff366e, 0.3) 0px 10px 28px 0px;

  --box-shadow-secondary: rgba(#ff366e, 0.2) 0px 0px 5px 0px,
                        rgba(#ff366e, 0.4) 0px 3px 20px 0px,
                        rgba(#ff366e, 0.3) 0px 10px 28px 0px;
}