@import './contact';
@import './equipment';
@import './whoiam';

.p-about {
  @extend %--principal-grid;

  .p-about__inner {
    @extend %--is-constrain-section;
    grid-column: 2 / -2;

    a {
      padding: var(--spacing-s) var(--spacing-l);
    }

    h2 {
      @extend %c-title-section-2;
      margin-bottom: var(--spacing-s);
    }

    h3 {
      margin-top: 40px;
      margin-bottom: 18px;
      font-size: 21px;
    }

    .description {
      padding: var(--spacing-s) 0 var(--spacing-xxl);
    }
  }
}