.p-about {
  @extend %--principal-grid;

  .p-about__inner {
    @extend %--is-constrain-section;
    grid-column: 2 / -2;

    h2 {
      @extend %c-title-section-2;
      margin-bottom: var(--spacing-s);
    }

    h3 {
      margin-top: 40px;
      margin-bottom: 18px;
      font-size: 21px;
    }

    .p-about_whoami {
      display: flex;
      align-items: center;
      gap: 90px;
      padding: var(--spacing-xxl-2) 0;

      @include down(767) {
        flex-direction: column;
        padding: var(--spacing-l) 0;
      }

      .p-about__description,
      .p-about__images {
        flex: 1;
        display: flex;
      }

      .p-about__images {
        picture {
          display: flex;
          align-items: center;

          &:nth-child(1) {
            margin-right: var(--spacing-l);
          }
        }
      }

      .p-about__description {
        flex-direction: column;
        justify-content: center;
      }
    }

    .p-about__equipment {
      padding: var(--spacing-xxl-2) 0;
      display: flex;

      @include down(767) {
        flex-direction: column;
        padding: var(--spacing-l) 0;
      }

      > div {
        flex: 1;

        &:first-child {
          @include up(767) {
            margin-right: 90px;
          }
        }

        figure {
          position: relative;
          margin-top: var(--spacing-xl);
          width: 100%;
          max-width: 400px;

          img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .p-about__workwithme {
      text-align: center;
    }
  }
}