.l-footer {
  padding: var(--spacing-xxl-2) 0 var(--spacing-l);

  .l-footer__inner {
    text-align: center;

    .l-footer__follow {
      margin-bottom: var(--spacing-xxl-2);
      color: var(--color-primary);
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 3.6px;
    }

    .l-footer__socials {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: var(--spacing-xxl);

      li {
        margin: 0 var(--spacing-xs);
      }
    }

    .l-footer__infos {
      font-family: var(--font-alternative);

      .l-footer__copyright {
        font-size: 14px;
      }

      .l-footer__credits {
        font-size: 12px;
      }

      p {
        display: block;

        a {
          text-decoration: underline;
        }
      }
    }
  }
}