.l-footer {
  @extend %--principal-grid;
  background-color: var(--color-light-medium);

  .l-footer__inner {
    grid-column: 2 / -2;
    @extend %--is-constrain-section;

    .l-footer__top {
      padding: var(--spacing-xxl) 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;

      div {
        border: 1px solid red;

        h2 {
          @extend %c-title-section;
        }
      }
    }

    .l-footer__bottom {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: var(--spacing-s) 0;
      text-align: center;
      font-size: 14px;

      .l-footer__credits {
        a {
          text-decoration: underline;
        }
      }
    }
  }
}