.l-header-woocommmerce {
  @extend %--principal-grid;
  margin-top: calc(var(--topbar-height) + var(--adminbar-height));
  padding: calc(var(--spacing-xxl-2) * 2) var(--spacing-s);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-title);

  .l-header-woocommmerce__title {
    position: relative;
    width: 100%;
    letter-spacing: 1.2px;
    font-size: 56px;
    line-height: 48px;
    text-align: center;
    transform: translateY(-25%);
  }
}