.logged-in {
  .l-topnav {
    top: var(--adminbar-height);
  }
}

.l-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--topbar-height);
  @extend %--principal-grid;
  background-color: var(--color-light);
  z-index: z(navigation);

  .l-topnav__inner {
    grid-column: 2 / -2;
    @extend %--is-constrain-section;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;

    .l-topnav__logo {
      height: inherit;

      a {
        height: inherit;
        display: flex;
        align-items: center;

        img {
          width: auto;
          height: 70%;
        }
      }
    }

    .l-topnav__principal-nav {
      height: 70%;
      display: flex;
      align-items: center;

      @include down(1023) {
        display: none;
      }

      .l-topnav__principal-nav-items {
        height: 100%;
        display: flex;
        align-items: center;

        li {
          position: relative;
          height: inherit;
          margin: 0 var(--spacing-s);
          padding: 0 var(--spacing-xxs);

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 100%;
            background-color: var(--color-primary-light);
            z-index: -1;
            height: 6px;
            transform: translateY(30%);
            transition: all 250ms ease;
            opacity: .7;
          }
          
          &:hover,
          &.current_page_item {
            &::before {
              right: 20%;
            }
          }

          a {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            font-family: var(--font-alternative);
            letter-spacing: 1.2px;
          }

          &:last-child {
            margin-right: 0;
            padding: 0 var(--spacing-s);
            color: var(--color-light-medium);
            background-color: var(--color-dark-medium);
            transition: all 250ms ease;

            &:hover {
              color: var(--color-dark-medium);
              background-color: var(--color-primary-light);
            }
          }
        }
      }
    }

    .l-nav__burger {
      height: 37px;
      color: var(--color-dark);
      cursor: pointer;
      
      @include up(1023) {
        display: none;
      }
  
      span {
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        transition: transform 400ms, background 200ms;
  
        &::after,
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 20px;
          height: 2px;
          background-color: currentColor;
          transition: transform 400ms, background 200ms;
        }
  
        &::before {
          transform-origin: 0 50%;
          top: -6px;
        }
  
        &::after {
          bottom: -6px;
          transform-origin: 0 50%;
        }
  
        &.is-active {
          background: transparent;
  
          &::before {
            transform: translateY(-2px) rotate(45deg);
          }
  
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}