.c-form {
  padding: var(--spacing-s);
  background-color: var(--color-light);
  box-shadow: var(--box-shadow-dark);
  display: none;

  @include up(1024) {
    padding: var(--spacing-xl)
  }

  &.is-visible,
  &.is-active {
    display: block !important;
  }

  .c-form__description {
    max-width: 700px;
    padding: var(--spacing-s);
    margin: 0 auto var(--spacing-l);
    text-align: center;
    color: var(--color-dark-medium);
    line-height: 32px;
    border: 1px solid var(--color-primary-dark);
  }

  // WP Contact Form 7 classes
  .wpcf7-form {
    color: var(--color-dark-medium);
    display: grid;
    grid-gap: var(--spacing-xl);
    grid-template-columns: 1fr;

    label {
      display: block;
      margin-top: var(--spacing-s);

      input,
      textarea {
        &:focus {
          border-color: var(--color-primary-dark);
        }
      }

      input,
      textarea {
        width: 100%;
        border: 0;
        border-bottom: 1px solid var(--color-dark-medium);
        transition: all 250ms ease;
      }

      input {
        height: 51px;
      }

      textarea {
        resize: vertical;
        height: 130px;
        outline: 0;
      }
    }

    .cf-form__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input[type=submit].wpcf7-submit {
        @extend .c-button-square, .is-colored;
        padding: 0 var(--spacing-l);
        cursor: pointer;
      }
    }
  }
}