.c-form {
  padding: var(--spacing-s);
  border-radius: 8px;
  background-color: var(--color-light);
  //box-shadow: var(--box-shadow-dark);
  display: none;

  @include up(1024) {
    padding: var(--spacing-xl)
  }

  &.is-visible,
  &.is-active {
    display: block !important;
  }

  ::placeholder {
    color: var(--color-dark-medium);
    opacity: 0.8;
    font-family: inherit;
  }

  &.is-postulation-form {
    display: none;
  }

  .c-form__description {
    max-width: 700px;
    margin: 0 auto var(--spacing-l);
    text-align: center;
    color: var(--color-dark-medium);
    line-height: 32px;
  }

  // WP Contact Form 7 classes
  .wpcf7-form {
    color: var(--color-dark-medium);
    display: grid;
    grid-gap: var(--spacing-xl);
    grid-template-columns: 1fr;

    label {
      display: block;

      span:first-child {
        display: block;
      }
    }

    input,
    textarea {
      width: 100%;
      display: flex;
      padding: var(--spacing-l);
      margin-bottom: var(--spacing-s);
      font-size: 16px;
      color: var(--color-dark);
      border-radius: 4px;
      border: 1px solid var(--color-dark-medium);
      outline: 0;
      transition: all 250ms ease;

      &:focus {
        border-color: var(--color-primary-dark);
      }
    }

    .wpcf7-not-valid-tip {
      margin: 0 0 var(--spacing-s);
    }

    input {
      height: 51px;
    }

    textarea {
      resize: vertical;
    }

    input[type="submit"] {
      @extend .c-button-square, .is-colored;
      max-width: 150px;
    }

    .cf-form__footer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: var(--spacing-l) 0;
    }
  }
}