.c-form {
  padding: var(--spacing-s);
  background-color: var(--color-light);
  border: 1px solid var(--color-primary-light);
  display: none;

  @include up(1024) {
    padding: var(--spacing-xl)
  }

  &.is-visible,
  &.is-active {
    display: block !important;
  }

  ::placeholder {
    color: var(--color-dark-medium);
    opacity: 0.8;
    font-family: inherit;
  }

  &.is-postulation-form {
    display: none;
  }

  .c-form__description {
    max-width: 700px;
    margin: 0 auto var(--spacing-l);
    text-align: center;
    color: var(--color-dark-medium);
    line-height: 32px;
    background-color: var(--color-light-medium);
  }

  // WP Contact Form 7 classes
  .wpcf7-form {
    color: var(--color-dark-medium);
    display: grid;
    grid-gap: var(--spacing-xl);
    grid-template-columns: 1fr;

    label {
      position: relative;
      display: flex;
      align-items: center;
      height: 51px;
      cursor: auto;

      span {
        display: flex;
        height: 100%;
        width: 100%;
        cursor: auto;

        &:first-child {
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          z-index: 1;
        }

        input[type=text],
        input[type=email],
        textarea {
          display: block;
          height: 100%;
          width: 100%;
          border: 0;
          border-bottom: 1px solid var(--color-dark-medium);
          cursor: auto;
          transition: all 250ms ease;

          &:focus {
            border-color: var(--color-primary-light);
          }
        }
      }
    }

    .cf-form__footer {
      display: flex;
      justify-content: center;

      input[type=submit].wpcf7-submit {
        @extend .c-button-square, .is-colored;
        padding: 0 var(--spacing-l);
        cursor: pointer;
      }
    }
  }
}