%c-title-section {
  margin: 50px 0 10px;
  line-height: 39px;
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font-title);
  line-height: 44px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}