%_title-common {
  margin: 50px 0 10px;
  font-weight: 500;
  font-family: var(--font-title);
  text-transform: uppercase;
}

%c-title-section-2 {
  @extend %_title-common;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 2.7px;
}

%c-title-section-3 {
  @extend %_title-common;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1.3px;
}