*::-moz-selection,
*::selection {
  color: var(--color-dark);
  background-color: var(--color-primary);
}

body {
  color: var(--color-dark);
  font-family: var(--font-principal);
  line-height: 32px;
}

main {
  padding-top: var(--topbar-height);
}

.for-overflow-mobile {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

picture {
  max-width: 100%;

  img {
    display: block;
    max-width: 100%;
  }
}

strong {
  font-weight: 700;
}

.text-for-seo {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

#wpadminbar {
  position: fixed;
}