.p-home {
  .p-home__hero {
    position: relative;
    height: calc(100vh - var(--topbar-height));
    min-height: 400px;


    .p-home__hero-picture {
      position: absolute;
      bottom: var(--spacing-l);
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .p-home__hero-title {
      padding: var(--spacing-s);
      color: var(--color-primary);
      text-align: center;
      font-family: var(--font-logo);
      font-size: 42px;
      line-height: 48px;
    }

    .p-home__hero-scroll-down {
      position: absolute;
      top: calc(100% - var(--spacing-l));
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}